@using MSDNDashboard.Models
@model MSDNDashboard.Models.Job

@{
    int status = ViewBag.status;
    string[] indicatorTags = { "Idle", "Job Scheduled", "Job Running" };
}

<div class="row main-title-2">
    <div class="col-md-2">
        <h4>Current Status</h4>
    </div>
</div>

<div class="col-md-2 main-c-indicator">
    <div class="row">
        <div class="small-box bg-green-gradient">
            <div class="inner">
                <h2>@indicatorTags[status]</h2>
            </div>
        </div>

        <button type="button" class="btn btn-primary">Trigger Job</button>
    </div>
</div>


<div class="col-md-10 main-c-info">
    <div class="row">
        <div class="col-md-8">
            @{
                var hint = "";
                if (status == 1 || status == 0)
                {
                    hint = "last finished job";
                }
                else if (status == 2)
                {
                    hint = "current running job";
                }
            }
            <h5>Status of @hint</h5>
        </div>
        <div class="col-md-2">
            <h4>Auto refresh</h4>
            <input type="hidden" id="jobid" value="@Model.ID"/>
            <input type="hidden" id="ajaxurl" value="@Url.Action("AjaxUpdate")"/>
        </div>
        <div class="col-md-2">
            <div id="switch" class="switch has-switch">
                <div class="switch-on">
                    <input id="switch-input" type="checkbox" checked />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <ul class="list-group">
                @{
                    string executionTime = "";
                    if (status == 1 || status == 0)
                    {
                        executionTime = (Model.FinishTimestamp - Model.StartTimestamp).ToString(@"dd\.hh\:mm\:ss");
                    }
                    else if (status == 2)
                    {
                        executionTime = (DateTime.Now - Model.StartTimestamp).ToString(@"dd\.hh\:mm\:ss");
                    }
                }
                <li class="list-group-item list-group-item-warning">Start from : @Model.StartTimestamp</li>
                <li class="list-group-item list-group-item-warning">Execution time : @executionTime</li>
                <li class="list-group-item list-group-item-warning">Triggered by : @(Model.IsManual ? "Manual" : "Scheduled")</li>
                <li class="list-group-item list-group-item-warning">Total Blog sites : @Model.TotalNumber</li>
            </ul>
        </div>

        <div class="col-md-7">
            <div id="blogChart" style="height: 250px;"></div>
        </div>
        <script>
                $(document).ready(function() {
                    morrisObject = Morris.Donut({
                        element: 'blogChart',
                        data: [
                             { label: "Normal site", value: @Model.BlogList.Count(b=>b.Status==BlogStatus.Normal) },
                             { label: "Site without FTE", value: @Model.BlogList.Count(b=>b.Status==BlogStatus.NoMSFTAdmin) },
                             { label: "Site without admin", value: @Model.BlogList.Count(b=>b.Status==BlogStatus.ZeroAdmin) },
                             { label: "Unknown error", value: @Model.BlogList.Count(b=>b.Status==BlogStatus.Error) }
                        ]
                    });
                });
        </script>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span>45% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>