@using MSDNDashboard.Models
@model MSDNDashboard.Models.Job

@{
    int status = ViewBag.status;
    string[] indicatorTags = { "Not Running", "Running" };
    string[] indicatorIconClass = { "glyphicon-minus-sign", "glyphicon-ok-sign" };
    string[] jobDiscriptionLabel = { "last finished job", "current running job" };
}

<div id="main-c-indicator" class="col-md-3 main-c-indicator">
    <div class="row">

        <div class="panel panel-info">
            <div class="panel-heading">Running state</div>
            <div class="panel-body">
                <span class="glyphicon @indicatorIconClass[status]"></span>
                @indicatorTags[status]
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Next scheduled job</div>
            <div id="next-schedule-job" class="panel-body">
                @(ViewBag.nextScheduledJob == null ? "No scheduled job" : ViewBag.nextScheduledJob.StartTimestamp.ToString())
            </div>
        </div>

        <button type="button" id="triggerjob" class="btn btn-info">Trigger Job</button>
        <input type="hidden" id="jobtriggerurl" value="@Url.Action("TriggerJob")" />
        <input type="hidden" id="jobstatus" value="@status" />
    </div>
</div>

@if (!( Model == null || Model.ID == 0 ))
{
<div class="col-md-9 main-c-info">
    <div class="row main-c-header">
        <div class="col-md-8">
            <h4>Status of @jobDiscriptionLabel[status]</h4>
        </div>
        <input type="hidden" id="jobid" value="@Model.ID" />
        <input type="hidden" id="ajaxurl" value="@Url.Action("AjaxUpdate")" />
        @if (status == 1)
        {
        <div class="col-md-2" >
            <h4 id="auto-refresh-label">Auto refresh</h4>
        </div>
        <div class="col-md-2">
            <div id="switch" class="switch has-switch bootstrap-switch-warning">
                <div class="switch-on">
                    <input id="switch-input" type="checkbox" checked />
                </div>
            </div>
        </div>
        }
    </div>

    <div class="row">
        <div class="col-md-5">
            <ul id="statuslist" class="list-group">
                @{
                    string executionTime = "";
                    if (status == 0)
                    {
                        executionTime = ( Model.FinishTimestamp - Model.StartTimestamp ).ToString(@"dd\.hh\:mm\:ss");
                    }
                    else if (status == 1)
                    {
                        executionTime = ( DateTime.Now - Model.StartTimestamp ).ToString(@"dd\.hh\:mm\:ss");
                    }
                }
                <li class="list-group-item list-group-item-info">Status : @Model.Status.ToString()</li>
                <li class="list-group-item list-group-item-info">Start from : @Model.StartTimestamp</li>
                <li class="list-group-item list-group-item-info">Execution time : @executionTime</li>
                <li class="list-group-item list-group-item-info">Triggered by : @(Model.IsManual ? "Manual" : "Scheduled")</li>
                <li class="list-group-item list-group-item-info">Total Blog sites : @Model.TotalNumber</li>
                
            </ul>
        </div>

        <div class="col-md-7">
            <div id="blogChart" style="height: 250px;"></div>
        </div>
        <script>
                $(document).ready(function() {
                    morrisObject = Morris.Donut({
                        element: 'blogChart',
                        data: [
                             { label: "Normal site", value: @Model.BlogList.Count(b => b.Status == BlogStatus.Normal) },
                             { label: "Site without FTE", value: @Model.BlogList.Count(b => b.Status == BlogStatus.NoMSFTAdmin) },
                             { label: "Site without admin", value: @Model.BlogList.Count(b => b.Status == BlogStatus.ZeroAdmin) },
                             { label: "Unknown error", value: @Model.BlogList.Count(b => b.Status == BlogStatus.Error) }
                        ]
                    });
                });
        </script>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="progressbar" class="progress">
                <div class="progress-bar progree-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@Model.CurrentNumber" aria-valuemin="0" aria-valuemax="@Model.TotalNumber" style="width: @((double)Model.CurrentNumber/Model.TotalNumber*100)%">
                    <span>@Model.CurrentNumber / @Model.TotalNumber</span>
                </div>
            </div>
        </div>
    </div>
</div>
                    }
                    else
                    {

                        <div class="col-md-9 alert alert-info" role="alert"><h3>There aren't any running or history jobs. Try manually trigger one or schedule one !</h3></div>

                    }