@using MSDNDashboard.Models
@model MSDNDashboard.Models.Job

<div class="row main-c-header">
    <div class="col-md-9">
        <h4>Job at @Model.StartTimestamp</h4>
    </div>

    <div id="jobdetailrefreshdiv" class="col-md-1">
        <button type="button" jobid="@Model.ID" id="jobdetailrefresh" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>

    <div class="col-md-2">
        <button type="button" jobid="@Model.ID" id="export-csv" class="btn btn-warning">
            <a class="a-white" target="_blank" href="@(Url.Action("GetCsvFromJob") + "?jobid=" + Model.ID)">Export CSV</a>
        </button>
        <input type="hidden" id="ajaxurl_in_detail" value="@(Url.Action("GetCsvFromJob") + "?jobid=" + Model.ID)"/>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div id="blogChartInDetailPage" style="height: 250px;"></div>

        <ul class="list-group">
            @{
                string executionTime = "";
                if (Model.Status != JobStatus.Running)
                {
                    executionTime = ( Model.FinishTimestamp - Model.StartTimestamp ).ToString(@"dd\.hh\:mm\:ss");
                }
                else
                {
                    executionTime = ( DateTime.Now - Model.StartTimestamp ).ToString(@"dd\.hh\:mm\:ss");
                }
                var countNoAdmin = @Model.BlogList.Count(b => b.Status == BlogStatus.ZeroAdmin);
                var countNoFTEAdmin = @Model.BlogList.Count(b => b.Status == BlogStatus.NoMSFTAdmin);
                var countError = @Model.BlogList.Count(b => b.Status == BlogStatus.Error);
            }
            <li class="list-group-item list-group-item-info">Job ID : @Model.ID</li>
            <li class="list-group-item list-group-item-info">Start from : @Model.StartTimestamp</li>
            <li class="list-group-item list-group-item-info">Execution time : @executionTime</li>
            <li class="list-group-item list-group-item-info">Status : @Model.Status.ToString()</li>
            <li class="list-group-item list-group-item-info">Triggered by : @(Model.IsManual ? "Manual" : "Scheduled")</li>
            <li class="list-group-item list-group-item-info">Total Blog sites : @Model.TotalNumber</li>
            <li class="list-group-item list-group-item-info">Normal Blog sites : @Model.BlogList.Count(b => b.Status == BlogStatus.Normal)</li>
            <li class="list-group-item list-group-item-info">Blog sites without admin : @countNoAdmin</li>
            <li class="list-group-item list-group-item-info">Blog sites without FTE admin : @countNoFTEAdmin</li>
            <li class="list-group-item list-group-item-info">Blog sites without unknown error : @countError</li>
        </ul>

        
        <script>
                $(document).ready(function() {
                    morrisObject = Morris.Donut({
                        element: 'blogChartInDetailPage',
                        data: [
                             { label: "Normal site", value: @Model.BlogList.Count(b => b.Status == BlogStatus.Normal) },
                             { label: "Site without FTE", value: @countNoFTEAdmin },
                             { label: "Site without admin", value: @countNoAdmin },
                             { label: "Unknown error", value: @countError }
                        ],
                        colors: [ "#d9edf7" , "#FFEDDB" , "#E0E0FF" , "#CCCCCC" ]
                    });
                });
        </script>
    </div>

    <div id="bloglistindetails" class="col-md-7">
        @if(countNoAdmin!=0)
        {
        <div class="panel panel-info">
            <div class="panel-heading">Blog sites without admin</div>
            <div class="panel-body list-group">
                @foreach (var blog in Model.BlogList.Where(b => b.Status == BlogStatus.ZeroAdmin))
                {
                    <a target="_blank" href="@blog.Url" class="list-group-item list-group-item-info">@blog.Url</a>
                }
            </div>
        </div>
        }
        @if (countNoFTEAdmin != 0)
        {
        <div class="panel panel-info">
            <div class="panel-heading">Blog sites without FTE admin</div>
            <div class="panel-body list-group">
                @foreach (var blog in Model.BlogList.Where(b => b.Status == BlogStatus.NoMSFTAdmin))
                {
                    <a target="_blank" href="@blog.Url" class="list-group-item list-group-item-info">@blog.Url</a>
                }
            </div>
        </div>
        }
        @if (countError != 0)
        {
        <div class="panel panel-info">
            <div class="panel-heading">Blog sites with unknown error</div>
            <div class="panel-body list-group">
                @foreach (var blog in Model.BlogList.Where(b => b.Status == BlogStatus.Error))
                {
                    <a target="_blank" href="@blog.Url" class="list-group-item list-group-item-warning">@blog.Url</a>
                }
            </div>
        </div>
        }
    </div>
</div>
